* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.upper_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 5vh;
  font-size: 14px;
}
.upper_nav ul {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  list-style: none;
  margin-right: 40px;
  margin-top: 5px;
}

.upper_nav ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
nav {
  margin-left: 280px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: black;
}
nav ul img {
  margin-left: -490px;
}
nav ul li:nth-child(8) {
  position: relative;
  left: 210px;
}
nav ul li:nth-child(9) {
  position: relative;
  left: 210px;
}
nav ul li:nth-child(10) {
  position: relative;
  left: 210px;
}
nav ul li:nth-child(11) {
  position: relative;
  left: 210px;
}
nav ul li input {
  border: none;
  background-color: #eceff1;
  height: 35px;
  width: 200px;
}

nav ul li input::placeholder {
  color: black;
  padding-left: 25px;
}
nav ul li i {
  position: relative;
  left: -30px;
}

nav ul li img {
  width: 80px;
}
.lower_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eceff1;
  height: 7vh;
}
.hero_section {
  height: 100vh;
  width: 100%;
  background-image: url(./img/em_in_eoss_commercial_fw23_launch_mh_d_04fb7bd6a7.jpg);
  background-size: 1520px 728px;
  background-repeat: no-repeat;
}
.hero_section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 130px;
  padding-bottom: 110px;
  color: white;
  gap: 10px;
  font-size: 20px;
}
.hero_section button {
  background: none;
  background-color: white;
  height: 6vh;
  width: 150px;
  font-weight: 800;
  margin-top: 10px;
}
.heading_1 {
  margin-left: 130px;
  margin-top: 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 12px;
  margin-left: 130px;
  margin-top: 40px;
}

.container .div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.container .div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.container .div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.container .div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.container .div1,
.div2,
.div3,
.div4,
img {
  width: 310px;
}
.container .div1,
.div2,
.div3,
.div4,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}
.container .div1,
.div2,
.div3,
.div4,
a {
  color: black;
  font-weight: 540;
}
.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  height: 22vh;
}
.category .category_3 {
  margin-right: 290px;
}

.category .category_3 .line {
  width: 450%;
}

.category .category_2 .line {
  width: 160%;
}
.category .category_1 .line {
  width: 210%;
}
.category .line:hover {
  height: 1vh;
  background-color: black;
}

.category_wmk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.women img {
  width: 410px;
}
.men img {
  width: 410px;
}
.kids img {
  width: 410px;
}

.category_wmk h1 {
  font-size: 20px;
  margin-top: 15px;
}
.new_arrivals {
  margin-top: 120px;
  margin-left: 125px;
}

.new_arrivals .btn_1 {
  height: 50px;
  width: 140px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
}
.new_arrivals .btn_2 {
  height: 50px;
  width: 140px;
  font-size: 18px;
  background: transparent;
  border: 3px solid black;
  margin-bottom: 40px;
}

.product {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-y: hidden;
  gap: 10px;
  margin-left: 120px;
  margin-right: 140px;
}
::-webkit-scrollbar {
  display: none;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-left: 120px;
  margin-right: 140px;
  overflow-y: hidden;
}
.catalog .catalog_1 p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.catalog .catalog_1 h2 {
  margin-top: 15px;
}
.content {
  height: 70vh;
  width: 100%;
  background-color: rgb(245, 245, 229);
  display: flex;
  padding: 40px 120px;
  gap: 40px;
}
.content p {
  font-size: 18px;
}
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17vh;
  background-color: rgb(237, 231, 52);
  gap: 25px;
}
.add button {
  color: white;
  background-color: black;
  height: 45px;
  width: 190px;
}
footer {
  display: flex;
  justify-content: center;
  height: 60vh;
  gap: 30px;
  padding-top: 50px;
}
footer .footer_1 h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
footer .footer_1 p {
  line-height: 30px;
}
.lower_footer {
  background-color: rgb(40, 44, 49);
  color: rgba(255, 255, 255, 0.523);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-top: 10px;
}
.lower_footer p {
  line-height: 50px;
}
